#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.skillPara {
  font-weight: 400;
  font-size: 2rem;
  max-width: 50rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.skillBars {
  text-align: center;
  margin: 1.5rem;
}

.skillBar {
  display: flex;
}

.skillBarWork {
  text-align: left;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  background: rgb(40, 40, 40);
  margin-left: 1rem;
  padding-top: 1rem;
  width: 50%;
  display: flex;
}

.skillBarWork li {
  margin-top: 0.75rem;
  margin-left: 2rem;
}

.skillBarWork > img {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  padding-left: 1rem;
  float: right;
}

.skillBarImg {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.skillBarText > ul {
  font-size: 0.75;
  font-weight: 300;
}

.experienceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  margin-left: 1rem;
}

.experienceText {
  margin-left: 2rem;
}

.experienceText > h2 {
  padding-top: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .skillBarImg {
    object-fit: cover;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (max-width: 720px) {
  .skillBarImg {
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .skillBarImg {
    object-fit: cover;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
